style.css
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
 }
 @keyframes tituloAnim {
    0% { color: #000; transform: translateY(0); }
    50% { color:#ffffff; transform: translateY(-5px); }
    100% { color: #000; transform: translateY(0); }
 }
 #titulo {
    animation: tituloAnim 3s infinite ease-in-out;
 }
 .logo {
    width: 130px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
 }
 header {
    background-color: #a01515;
    padding: 20px;
    text-align: center;
    color: white;
 }
 nav ul {
    list-style: none;
    padding: 0;
 }
 nav ul li {
    display: inline-block;
    margin: 0 15px;
 }
 nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
 }
 nav ul li a:hover {
    color: yellow;
 }
 a.externo:link {
    color: blue;
 }
 a.externo:visited {
    color: purple;
 }
 main {
    padding: 20px;
 }
 section {
    margin-bottom: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
 }
.foto {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
    
 }
 footer {
    background-color: #a01515;
    color: white;
    padding: 20px;
    text-align: center;
 }
